
@{
    ViewBag.Title = "Редактирование клиента";
}

<h1>Редактирование клиента</h1>

@section Scripts {
    <script>
        var viewModel = new MainViewModel();
        $(function () {
            ko.applyBindings(viewModel);
        });

        function MainViewmodel() {
            var self = this;
        };
    </script>
}
