@{ 
    ViewBag.Title = "Зоомагазин";
    ViewBag.Subtitle = "Товары для питомцев, закупки, продажи";
}

<div class="cd-slider-nav">
    <nav>
        <span class="cd-marker item-1"></span>
        <ul>
            <li><a href="@Url.Action("Index", "Product")"><div class="image-icon"><img src="~/Content/Images/shopping-cart-product.png"></div><h6 style="color: black;">Товары</h6></a></li>
            <li><a href="@Url.Action("Index", "Employees")"><div class="image-icon"><img src="~/Content/Images/shopping-cart-productment.png"></div><h6 style="color: black;">Закупки</h6></a></li>
            <li><a href="@Url.Action("Dictionaries", "Home")"><div class="image-icon"><img src="~/Content/Images/shopping-cart-sale.png"></div><h6 style="color: black;">Продажи</h6></a></li>
        </ul>
    </nav>
</div> <!-- .cd-slider-nav -->