
@{
    ViewBag.Title = "Список клиентов";
}

<h1>Список клиентов</h1>

<a href="@Url.Action("Create", "Person")" class="btn btn-primary">Добавить</a>

<div class="persons">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Ф.И.О</th>
                <th>Дата рождения</th>
                <th>Адрес</th>
                <th>Питомцы</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Persons">
            <tr>
                <td data-bind="text: LastName() + ' ' + FirstName() + ' ' + MiddleName()"></td>
                <td data-bind="text: moment(Birthday()).format('DD.MM.YYYY')"></td>
                <td data-bind="text: Address"></td>
                <td data-bind="foreach: Pets">
                    <a href="#" data-bind="text: '[' + PetTypeName() + '] ' + PetName(), attr: { href: '/Pet/Appointmet/' + PetId()}"></a>
                </td>
                <td>
                    <a href="#" data-bind="attr: { href: '/Person/Edit/' + PersonId() }">Изменить</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script>
        var viewModel = new MainViewModel();
        $(function () {
            viewModel.LoadPersons();
            ko.applyBindings(viewModel);
        });

        function PersonViewModel(personViewModel) {
            var self = this;
            self.PersonId = ko.observable(personViewModel.PersonId || '');
            self.LastName = ko.observable(personViewModel.LastName || '');
            self.FirstName = ko.observable(personViewModel.FirstName || '');
            self.MiddleName = ko.observable(personViewModel.MiddleName || '');
            self.Birthday = ko.observable(personViewModel.Birthday || '');
            self.Address = ko.observable(personViewModel.Address || '');

            self.Pets = ko.observableArray([]);
            if (personViewModel.Pets && personViewModel.Pets.length > 0) {
                for (var i = 0; i < personViewModel.Pets.length; i++) {
                    self.Pets.push(new PetViewModel(personViewModel.Pets[i]));
                }
            }
        }

        function PetViewModel(petViewModel) {
            var self = this;

            self.PetId = ko.observable(petViewModel.PetId || '');
            self.PetTypeId = ko.observable(petViewModel.PetTypeId || '');
            self.PetTypeName = ko.observable(petViewModel.PetTypeName || '');
            self.PetName = ko.observable(petViewModel.PetName || '');
        }

        function MainViewModel() {
            var self = this;

            self.Persons = ko.observableArray([]);

            self.LoadPersons = function () {
                $.ajax({
                    method: 'get',
                    url: '/Person/GetPersons',
                    data: { },
                    contentType: "application/json; charset=utf-8",
                    error: function (response) {
                        console.log(response);
                    },
                    success: function (persons) {
                        if (persons && persons.length > 0) {
                            for (var i = 0; i < persons.length; i++) {
                                self.Persons.push(new PersonViewModel(persons[i]));
                            }
                        }
                    }
                });
            };
        }
    </script>
}
